<!doctype html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		      name="viewport">
		<meta content="ie=edge" http-equiv="X-UA-Compatible">
		<title th:text="${title}">Title</title>
		<th:block th:replace="~{/configuration/cdn :: head}"></th:block>
		<link href="/css/global.css" rel="stylesheet">
	</head>
	<body>
		<header id="header" sec:authorize="hasRole('ROLE_ADMIN')" th:replace="~{/admin/header :: header}"></header>
		<div class="text-center">
			<main id="content" th:replace="~{${viewName} :: content}"></main>
		</div>
		<th:block th:replace="~{/configuration/cdn :: body}"></th:block>
	</body>
</html>