body {
    font-family: 'Noto Sans KR';
    color: #FAFFFF;
}

#logo { 
    display: inline-block;
    height: 24px;
    margin-right: 30px;
}

#logo img {
    width: 120px;
    position: relative;
    bottom: 10px;
}

#search {
    border-radius: 3px;
    border: 1px solid #9C9A97;

    padding: 10px 16px;
    justify-content: space-between;
    align-items: center;

    
    width: 615px;
    height: 24px;

    margin-right: 76px;

    display: flex;
}

#search input {
    border: none;
    background: none;
    width: 95%;
    outline: none;
    color: #FAFFFF;
    font-size: 14px;
}


#loginBtn {
    display: flex;
    width: 140px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #9C9A97;
    background: none;
    color: #9C9A97;
    margin-right: 24px;
}

#signupBtn {
    display: flex;
    width: 140px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #C41000;
    color: #FAFFFF;
    border: none;
}

#menu { 
    
    margin: 9px auto 20px; 
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

#menu div {
    margin-right: 50px;
}

#menu a, #menu a:visited{
    color: #FAFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.48px;
    text-decoration: none;
    font-family: 'Noto Sans KR';
}

a:hover { 
    color: #C41000;
}

